@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Righteous&family=Sarala&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppings', sans-serif;
    color: #1E1E2A;
}

.header-container{
    height: 100vh;
    width: 150vw;
    background-color: #EFC199;
    background-image: url('profissional.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 112px;
    position: relative;
}

h1{
font-size: 50px;
text-transform: uppercase;
letter-spacing: 4px;
}

h2{
    text-transform: uppercase;
    letter-spacing: 4px;
}

header p{
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
}


.social-media{
margin-top: 2rem;
display: flex;
}

.social-media a{
    text-decoration: none;
    color: #1E1E2A;
    padding: 2rem 5rem;
    border: 2px solid #1E1E2A;
    min-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
}

.social-media a{
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

a:hover{
    background-color: #ffffff;
}

/*cards*/


.container{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 6rem 0;
}

.card-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.card{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin: 3rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EFC199;
    background-image: url(profissional.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(0.5);
    color: #1E1E2A;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.card-text{
    width: 50%;
    letter-spacing: 1px;
    color: rgb(109, 109, 109);
}

.card-wrapper{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-wrapper::before{
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: block;
    border: 1px, solid #ffffff;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.card-wrapper h2{
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    transition: 0.5s ease-in-out;
}

.card-wrapper p{
    font-size: 0;
    visibility: visible;
    opacity: 0;
    font-weight: bolder;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
}

.card:hover{
    filter: unset;
}

.card:hover > .card-wrapper::before{
    height: 200px;
    width: 200px;
    opacity: 1;
}
.card:hover > .card-wrapper p {
    opacity: 1;
    visibility: visible;
    font-size: 14px;
}

/*footer*/

.footer {
    border-top: 0.4px solid #FFF2E7;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    height: 100px;
    background-color: #EFC199;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1E1E2A;
}